---
---
<!DOCTYPE html>
<html>
<head>
    <style>
    {% capture stylesheet %}
    /*  SCSS adds cool features and minifies the CSS, which is why we're doing it
        through Jekyll like this. */
    html body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }
    body {
        background: #404040;
        color: #E0E0E0;
        position: relative;
    }
    a {
        display: block;
        height: 100vh;
        width: 100vw;
        text-decoration: none;
        position: absolute;
        z-index: 2;
    }
    main {
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
        text-align: center;
        font-size: 24px;
        font-size: 15vw;
    }
    #b {
        font-size: 0.7em;
    }
    {% endcapture %}
    </style>
    <style type="text/css">{{stylesheet | scssify}}</style>
</head>
<body>
    <a href="https://ads.heyquark.com/" target="_blank"></a>
    <main>
        <div id="a">your ad here</div>
        <div id="b">heyquark ads</div>
    </main>
</body>
</html>
